/* Estilos para a página de configurações */
.settings-form-container {
    width: 100%; /* Tornando o formulário responsivo */
    max-width: 600px; /* Definindo uma largura máxima maior */
    margin: 0 auto;
    padding: 30px;
    background-color: #212428; /* Fundo escuro similar */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* Altura mínima confortável */
}

.settings-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centralizar na tela */
}

/* Título do formulário */
.settings-form-container h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

/* Estilo para a foto de perfil */
.profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #007bff; /* Adicionando uma borda azul */
}

/* Estilo para os campos de entrada */
.settings-form-container .form-control {
    background-color: #2c2c2c; /* Fundo escuro para os inputs */
    color: #fff;
    border: 1px solid #444;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 4px;
}

.settings-form-container .form-control:focus {
    background-color: #444444;
    border-color: #007bff; /* Cor azul ao focar */
}

/* Estilo para o botão de salvar */
.settings-form-container .btn {
    width: 100%;
    background-color: #007bff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}

.settings-form-container .btn:hover {
    background-color: #0056b3;
}

/* Estilo para o texto do nome do usuário */
.settings-form-container .ml-3 h3 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Placeholder dos campos */
.settings-form-container input::placeholder {
    color: #fff !important;
    opacity: 0.7;
}

/* Ajustando a largura dos inputs */
.settings-form-container input {
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #2c2c2c;
    color: white;
    font-size: 1rem;
}

/* Garantir que o formulário ocupe o centro */
form {
    width: 100%;
    max-width: 600px;
    padding: 30px;
}
