<div class="settings-form-wrapper">
  <div class="settings-form-container">
    <h4>Configurações</h4>
    <div class="d-flex justify-content-center align-items-center mb-4">
      <div class="profile-photo">
        <img src="https://via.placeholder.com/100" alt="Foto do Usuário">
      </div>
      <div class="ml-3">
        <h3>{{ username }}</h3> <!-- Nome do usuário logado -->
      </div>
    </div>
    <form (ngSubmit)="saveChanges()">
      <div class="mb-3">
        <label for="newUsername" class="form-label">Novo Nome de Usuário</label>
        <input type="text" class="form-control" id="newUsername" [(ngModel)]="newUsername" name="newUsername" placeholder="Digite o novo nome de usuário">
      </div>      
      <div class="mb-3">
        <label for="newEmail" class="form-label">Novo Email</label>
        <input type="email" class="form-control" id="newEmail" [(ngModel)]="newEmail" name="newEmail" placeholder="Digite o novo email">
      </div>      
      <div class="mb-3">
        <label for="newPassword" class="form-label">Nova Senha</label>
        <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="Digite a nova senha">
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar Nova Senha</label>
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirme a nova senha">
      </div>
      <button type="submit" class="btn">Salvar Alterações</button>
    </form>
  </div>
</div>
