<div class="register-form-wrapper">
<div class="register-form-container">
    <h2>Registrar-se</h2>
    <form>
      <div class="mb-3">
        <label for="username" class="form-label">Nome de usuário</label>
        <input type="text" class="form-control" id="username" placeholder="Digite seu nome de usuário">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Digite seu email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
      </div>
      <button type="submit" class="btn">Registrar</button>
      <p class="form-text">Já tem uma conta? <a href="/login">Faça login</a></p>
    </form>
  </div>
</div>