<div class="container mt-5">
  <h2>Alterar Email</h2>
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="form-group">
      <label for="newEmail">Novo Email</label>
      <input type="email" id="newEmail" class="form-control" [(ngModel)]="newEmail" name="newEmail" required/>
    </div>

    <div class="form-group mt-3">
      <label for="password">Senha Atual</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required/>
    </div>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="!emailForm.form.valid"> Alterar Email </button>
  </form>
</div>