<div class="login-form-wrapper">
<div class="login-form-container">
    <h2>Fazer login</h2>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Nome de usuário ou Email</label>
            <input type="text" class="form-control" id="username" placeholder="Digite seu nome de usuário ou email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
        </div>
        <button type="submit" class="btn">Login</button>
        <p class="form-text">Ainda não tem uma conta? <a href="/register">Registre-se</a></p>
    </form>
</div>
</div>