.card-img-top {
    width: 300px; /* Tamanho maior da imagem */
    height: 300px; /* Tamanho maior da imagem */
    object-fit: cover; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Garante que o 'margin: 0 auto' funcione */
  }