html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Arial", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

h2 {
  font-weight: bold;
}

.navbar,
footer {
  background-color: #1c1c1c !important;
  color: #fff !important;
}

@media (max-width: 768px) {
  .welcome-section h1 {
    font-size: 2rem;
  }

  .welcome-section p {
    font-size: 1rem;
  }

  .welcome-section .btn {
    font-size: 1rem;
  }
}

.container {
  padding: 20px 0 !important;
}