<div class="container mt-5">
    <div class="row">
      <!-- Card de Detalhes da Lista -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <!-- Exibe o nome como texto ou input (editable) -->
              <span *ngIf="!isEditing">{{ listName }}</span>
              <input *ngIf="isEditing" [(ngModel)]="listName" class="form-control" />
            </h4>
  
            <p class="card-text">
              <!-- Exibe a descrição como texto ou input (editable) -->
              <span *ngIf="!isEditing">{{ listDescription }}</span>
              <textarea *ngIf="isEditing" [(ngModel)]="listDescription" class="form-control"></textarea>
            </p>
  
            <h5>Jogos Adicionados</h5>
            <div *ngIf="addedGames.length > 0; else noGames">
              <ul class="list-group">
                <li *ngFor="let game of addedGames" class="list-group-item d-flex justify-content-between align-items-center">
                  <div>
                    <h6>{{ game.game_name }}</h6>
                    <img [src]="game.background_image" alt="{{ game.game_name }}" class="img-thumbnail" style="max-width: 100px;" />
                  </div>
                </li>
              </ul>
            </div>
            <ng-template #noGames>
              <p class="text-muted">Nenhum jogo adicionado ainda.</p>
            </ng-template>
  
            <!-- Botões para editar a lista ou adicionar/remover jogos -->
            <div *ngIf="!isEditing">
              <button class="btn btn-warning" (click)="editList()">Editar Lista</button>
            </div>
            <div *ngIf="isEditing">
              <button class="btn btn-success" (click)="saveChanges()">Salvar Alterações</button>
              <button class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
            </div>
            <button class="btn btn-success" (click)="addGame()">Adicionar Jogo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  