.list-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2C2C2C;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card {
  background-color: #2C2C2C;
  border-radius: 10px;
  border: none;
}

.card-body {
  background-color: #2C2C2C;
  color: #FFFFFF;
  padding: 20px;
}

.card-title,
.card-text {
  text-align: center;
  margin-bottom: 20px;
}

.card-title input,
.card-text textarea {
  background-color: #444444;
  color: #FFFFFF;
  border: 1px solid #555555;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.card-title input:focus,
.card-text textarea:focus {
  background-color: #555555;
  color: #FFFFFF;
  border-color: #47c528;
  outline: none;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #444444;
  border: 1px solid #555555;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #FFFFFF;
}

.list-group-item:hover {
  background-color: #555555;
}

.img-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.added-game-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.btn-remove-game {
  background-color: #c82333;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-remove-game:hover {
  background-color: #a71d2a;
}

.search-bar {
  margin-top: 20px;
  position: relative;
}

.search-bar label {
  color: #DDDDDD;
}

.search-results {
  position: absolute;
  background-color: #2C2C2C;
  border: 1px solid #444444;
  border-radius: 4px;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #555555;
}

.result-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.game-name {
  flex-grow: 1;
  margin-left: 10px;
}

.btn-add-game {
  background-color: #47c528;
  color: #FFFFFF;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-add-game:hover {
  background-color: #348c1d;
}

.mt-3 button {
  margin-right: 10px;
}

.btn-warning,
.btn-success,
.btn-secondary {
  background-color: #47c528;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.btn-warning:hover,
.btn-success:hover,
.btn-secondary:hover {
  background-color: #348c1d;
}

.btn-warning {
  background-color: #f1c232;
}

.btn-secondary {
  background-color: #6c757d;
}

.form-control {
  background-color: #444444;
  color: #FFFFFF;
  border: 1px solid #555555;
  width: 100%;
}

.form-control::placeholder {
  color: #AAAAAA;
}

.form-control:focus {
  background-color: #555555;
  color: #FFFFFF;
  border-color: #47c528;
  outline: none;
}